// add your custom styles here
.my-card
{
    background-color:#d6d6c2;
    padding:5px;
    margin:2px;
}

.my-card input[type="checkbox"]
{
    width: 20px; /*Desired width*/
    height: 20px; /*Desired height*/
}

.my-board
{
    background-color:#cccffe;
    padding:5px;
    margin:2px;
}

.my-board input[type="checkbox"]
{
    width: 20px; /*Desired width*/
    height: 20px; /*Desired height*/
}

.size
{
    width:350px;
}